<div class="card mb-3" style="max-width: 540px;">
  <div class="shadow-lg row cards  g-0">
    <div class="col-md-4 user-photo">
      <img src=<%= user.photo %> class="img-fluid rounded-start" alt="user-photo">
    </div>
    <div class="col-md-8 card-text">
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to user_path(user.id) do %>
            <%= user.name %>
            <%= user.id %>
          <% end %>
        </h5>
        <p class="card-text"><small class="text-muted">Number of posts: <%= user.posts_counter || 0 %></small></p>
      </div>
    </div>
  </div>
</div>