<ul class="list-group list-group-flush">
  <% @user.last_three_posts.each do |p| %>     
    <li class="list-group-item">
      <h5>Title: <strong><%= p.title.capitalize %></strong></h5>
    </li>
    <li class="list-group-item"><%= p.text.truncate(90) %></li>
    <li class="list-group-item d-flex flex-row" id="lks">
      <%= link_to 'View post', user_post_path(@user, p), class: 'btn btn-view btn-success' %>
      <div class='statistics d-flex flex-row'>
        <p>Comments: <%= p.comments_counter %></p>
        <p>Likes: <%= p.likes_counter %></p>
      </div>
    </li>
  <% end %>
</ul>
